<h1>Users Following You</h1>

<% if @followers.any? %>
  <ul>
    <% @followers.each do |user| %>
      <li>
        <div class="dis">
          <%= cl_image_tag user.photo.key, style: "width: 60px; height: 60px;", class: "profile-image" %>
          <%= link_to user.username, profile_path(user) %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You've got no friends, soz.</p>
<% end %>
