<h1>Users You're Following</h1>

<% if @following.any? %>
  <ul>
    <% @following.each do |user| %>
      <li>
        <div class="dis">
          <%= cl_image_tag user.photo.key, style: "width: 60px; height: 60px;", class: "profile-image" %>
          <%= link_to user.username, profile_path(user) %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You are not following anyone yet.</p>
<% end %>
