.single{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 100%;
}

.card-body{
  // background: rgba(255, 255, 255, 0.1);
  // backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.like-comment-share{
  gap: 5px;
  overflow-y: scroll;
}

// .wide{
//   width: auto;
//   height: 400px;
//   overflow: hidden;
// }

.photo-container-crop{
  overflow: hidden;
  width: 100%;
  height: 600px;
  position: relative;
}

.photo-container-crop .photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posted{
  gap: 15px;
}

.posted-by{
  opacity: 50%;
  font-style: italic;
  font-size: smaller;
}

@media (max-width: 430px) {
  .single{
    min-width: 250px;
  }
}

/* Container holding the image and the overlay */
.photo-container {
  position: relative;
  display: inline-block;
}

.photo {
  position: relative;
  width: 100%;
  height: auto;
  background-color:     rgb(255, 255, 255) ;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 15px;
  padding: 25px;
  height: 30%;
  padding-top: 50px;
}

.image-container {
  position: relative;
  width: 100%;
}

.rowwy{
  .image-container{
    height: 450px;
  }
}

.image-container .photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-container .image-overlay {
  height: 5%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 60%);
  pointer-events: none;
}

@media (max-width: 430px) {
  .overlay{
    .posted{
      font-size: 13px;
    }
    .posted-by{
      font-size: 13px;
    }
  }
}


.show{
  overflow-y: scroll;
  height: 100px;
}
