<div class="home-page">
<div class="feed">
  <% if @posts.any? %>
    <div class="posts-list">
      <% @posts.each do |post| %>
        <div class="post">
          <h2><%= post.content %></h2>
          <p>Posted by <%= link_to post.user.username, post.user %> on <%= post.created_at.strftime("%B %d, %Y %l:%M %p") %></p>
        </div>
        <hr>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
</div>
</div>
