<div class="container">
  <div class="shift-250">
    <div class="flexing-header-post">
      <h1 class="fw-bolder">New Post</h1>
      <%= link_to 'Back to Posts', posts_path, class: 'btn btn-primary' %>
    </div>
    <%= render 'form' %>
  </div>
</div>
