.constrain-image{
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.paddd{
  padding: 100px;
  font-size: larger;
  font-style: italic;
}


@media (max-width: 430px) {
  .paddd{
    padding: 50px;
    font-size: larger;
    font-style: italic;
  }
}
