.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-image{
  display: flex;
  justify-content: left;
}

.inverted{
  filter: invert(1);
  margin-right: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  padding-top: 20px;
  color: white;
  background-color: #022F56;
  box-shadow: 0 0 25px rgba(31, 62, 96, 0.9);
}

.navbar-align{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



.list-items-text{
  text-decoration: none;
  color: white;
}

.list-items:hover {
  transform: scale(1.1);
}

li{
  list-style: none;
}

.search-bar{
  box-shadow: 0 0 8px rgba(248, 251, 255, 0.2);
}

.pad{
  padding: 0;
}




@media (max-width: 430px) {
  .navbar {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #022F56;
    box-shadow: 5px -5px 10px rgba(38, 71, 108, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5;
  }

  .search-bar{
    margin-bottom: 15px;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 0;
    height: 40px;
  }

  .list{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-items-text{
    display: none;
  }

  .tapthat{
    display: none;
  }
}

@media (min-width: 600px){
  .tapthat{
    color: white;
    font-weight: bold;
    padding-left: 25px;
    font-size: 2.5rem;
  }

  .list{
    padding-top: 10px;
    margin: 0;
    margin-left: 20px;
  }

  .tapthat{
    color: white;
    font-weight: bold;
    padding-left: 25px;
  }

  .list-items{
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    padding-top: 28px;
    transition: transform 0.5s ease;
  }

  .search-bar{
    margin-top: 30px;
    margin-left: 25px;
  }
}
